<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ssgb_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ssgb_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ssgb.easyattendance.Reports_Detail_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.ssgb.easyattendance.Reports_Activity" />
        <activity
            android:name="com.ssgb.easyattendance.ClassDetail_Activity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.ssgb.easyattendance.Insert_class_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.ssgb.easyattendance.SignupActivity" />
        <activity android:name="com.ssgb.easyattendance.MainActivity" />
        <activity
            android:name="com.ssgb.easyattendance.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>